body {
  margin: 0;
}

html * {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;

}

h1,
h2,
h3,
h4 {
  font-family: "Source Serif Pro", serif;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.like-too {
  padding: 13px 24px 13px 24px;
  background: rgba(59, 199, 247, 0.8);
  border-radius: 100px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.header {
  background: #00506c;
  padding-top: 21px;
  padding-bottom: 10px;
}

.header-soctland-dental-logo {
  max-width: 21%;
  width: 100%;
}

.header-soctland-dental-logo img {
    width: 100%;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-btn {
  display: flex;
  gap: 10px;
  max-width: 34%;
  width: 100%;
}

.header-btn-details {
  display: flex;
  gap: 15px;
  max-width: 34%;
  justify-content: flex-end;
  width: 100%;
}

button.btn-details {
  font-size: 14px;
  font-weight: 600;
  background: rgba(59, 199, 247, 0.8);
  border-radius: 100px;
  border: none;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
}

ul.main-nav-list {
  color: white;
  display: flex;
  list-style: none;
  text-decoration: none;
  padding: 0;
  gap: 30px;
  justify-content: center;
  margin: 0;
}

a.main-nav-link {
  text-decoration: none;
  color: white;
  border-right: 1px solid white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding-right: 30px;
  line-height: 2;
  display: block;
}

.nav-contact {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-right: 0px solid !important;
  text-transform: uppercase;
  padding-right: 20px;
}

.hero {
  background-image: linear-gradient(180deg, #00506c 2.9%, rgba(0, 80, 108, 0) 74.58%),url(./assets/img/Rectangle\ 52.png);
  background-position: center;
  background-size: cover;
  padding: 44px 0;
  min-height: 825px;
}

h1.hero-heading {
  text-align: center;
  font-size: 46px;
  font-weight: 600;
  color: white;
  margin: 0 0 5px 0;
}

.hero-container {
}

p.hero-text {
  margin: 0px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: white;
  line-height: 1.3;
}

.hero-main-div {
}

h3.heading-partner {
  margin: 0px;
  font-size: 24px;
  font-weight: 600;
  color: #00506c;
  font-family: "Montserrat";
}

section.partners {
  border-bottom: 1px solid #3bc7f7;
}

.partner-logo {
  display: flex;
  align-items: center;
  gap: 34px;
  padding: 21px 0 10px;
  max-width: 50%;
  width: 100%;
}

.partners-main {
  max-width: 1112px;
  margin: 0 auto;
} 

section.brace-system {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}
h3.most-popular {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: #00506c;
  max-width: 368px;
  text-align: center;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 100%;
}

.about-saving {
  display: flex;
  align-items: center;
  gap: 29px;
  justify-content: center;
}

h3.saving {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  color: #00506c;
  font-family: "Montserrat";
}

.video-about-brace {
  font-size: 16px;
  font-weight: 500;
  color: #00506c;
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

img.teeth-img {
  padding-bottom: 63px;
  display: block;
  margin: 0 auto;
}

.form-main {
  display: flex;
  padding-bottom: 100px;
  justify-content: space-between;
  padding-top: 112px;
  padding-bottom: 112px;
}

.form-content {
    max-width: 50%;
    width: 100%;
}

.heading-brace-system {
  padding-top: 50px;
}

form.cta-form {
  display: flex;
  flex-direction: column;
}

h3.form-heading {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  margin: 0px;
  padding-bottom: 5px;
  color: white;
}

p.form-text {
  margin: 0px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #3bc7f7;
  padding-bottom: 24px;
}

input.form-input {
  padding: 17px 30px 17px 30px;
  border-radius: 50px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.form-checkbox {
  text-align: center;
}

label.checkbox-text {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.form-checkbox {
  padding: 10px 0px;
}

input.submit-form-btn {
  padding: 17px 0px;
  background: #3bc7f7;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.form-cta-main {
  background: #00506c;
  box-shadow: 3px 4px 10px 1px rgb(0 80 108 / 15%);
  border-radius: 10px;
  padding: 48px 32px;
}

.form-cta-main {
  margin-top: -145px;
}

.about-specialist-btn {
  font-size: 14px;
  font-weight: 600;
  background: rgba(59, 199, 247, 0.8);
  border-radius: 100px;
  border: none;
  color: white;
  padding: 13px 65px;
  cursor: pointer;
  text-transform: uppercase;
}

.about-view-location {
  font-size: 14px;
  font-weight: 600;
  background: rgba(59, 200, 247, 0);
  border-radius: 100px;
  border: none;
  color: #00506c;
  padding: 13px 25px;
  cursor: pointer;
  text-transform: uppercase;
}

section.Specialist-orthodontists {
  text-align: center;
  padding-bottom: 45px;
}

h3.Specialist-orthodontists-heading {
  margin: 0px;
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 5px;
  line-height: 1.4;
  color: #454648;
}

h4.Specialist-our-team {
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #00506c;
  padding-bottom: 10px;
  line-height: 1.4;
  max-width: 830px;
  margin: 0 auto 10px;
}

.specialist-main {
    max-width: 944px;
    margin: 0 auto;
}

p.Specialist-our-team-text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat";
  line-height: 1.5;
  padding-bottom: 30px;
  width: 100%;
  margin: 0px;
  color: #454648;
}

.composite-bonding-details-main {
    max-width: 260px;
}

.btn-invisalign {
  font-size: 14px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  border: none;
  color: #00506c;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Invisalign {
  background-image: url(./assets/img/Rectangle\ 71.png);
  padding: 141px 0px 150px 103px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.container-invisalign {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

h3.heading-invisalign {
  margin: 0px;
  font-size: 26px;
  font-weight: 600;
  color: white;
  padding-bottom: 8px;
}

p.Invisalign-text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat";
  width: 103%;
  line-height: 1.8;
  margin: 0px;
  padding-bottom: 20px;
  color: white;
}

.main-invisalign {
  background: linear-gradient(
    180deg,
    rgba(0, 80, 108, 0.75) 0%,
    rgba(0, 80, 108, 0.2475) 100%
  );
  border-radius: 20px;
  width: 36%;
  padding: 40px 39px 31px 39px;
}

.main-coposite-bonding {
  display: flex;
}

img.men-smiling {
  width: 100%;
  display: block;
}

img.women-smiling {
  width: 100%;
  display: block;
}

.women-with-smiling {
  max-width: 50%;
  width: 100%;
}

h2.heading-composite-bonding {
  margin: 0px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 8px;
  color: white;
}

p.text-composite-bonding {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  color: white;
  padding-bottom: 20px;
}

.composite-bonding-details {
  background: linear-gradient(
    180deg,
    rgba(0, 80, 108, 0.75) 0%,
    rgba(0, 80, 108, 0.2475) 100%
  );
  border-radius: 0px 20px 20px 0px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.men-with-smiling {
  max-width: 50%;
  width: 100%;
}

section.composite-bonding {
  margin-bottom: 20px;
}

.main-dental-implants {
  display: flex;
}

h2.heading-dental-implants {
  margin: 0px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 8px;
  color: white;
}

p.text-dental-implants {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  color: white;
  padding-bottom: 20px;
}

.dental-implants-details {
  background: linear-gradient(
    180deg,
    rgba(0, 80, 108, 0.75) 0%,
    rgba(0, 80, 108, 0.2475) 100%
  );
  border-radius: 20px 0px 0px 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.dental-implants {
  margin-bottom: 110px;
}

.Invisalign-saving {
  background-image: url(./assets/img/Rectangle\ 36.png);
  background-position: center;
  background-size: cover;
  padding: 96px 0;
}

.about-appoitment {
  text-align: center;
}

h3.heading-invisalign-saving {
  margin: 0px;
  font-size: 38px;
  font-weight: 600;
  color: white;
  padding-bottom: 12px;
}

p.text-invisalign-appiotment {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 0px;
  padding-bottom: 25px;
  line-height: 1.4;
}

button.btn-appointment {
  padding: 13px 36px 13px 36px;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #00506c;
  cursor: pointer;
}

footer.dental-footer {
  background: #00506c;
}

.main-nav-footer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 74px;
  width: 100%;
}

.footer-logo {
  width: 33%;
}

p.footer-text {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  line-height: 1.9;
  width: 89%;
  font-family: "Montserrat";
  padding-top: 13px;
}

h3.heading-nav-information {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #d6f4ff;
  padding-bottom: 24px;
}

h3.heading-nav-sevices {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #d6f4ff;
  padding-bottom: 24px;
}

h3.heading-nav-getin {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #d6f4ff;
  padding-bottom: 24px;
}

p.info-dental {
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-family: "Montserrat";
  margin: 0px;
  padding-bottom: 18px;
}

p.info-dental {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-end {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 35px;
  padding-bottom: 94px;
  max-width: 1200px;
  width: 100%;
}

p.text-dental-scotland {
  margin: 0px;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.about-privacy-policy {
  display: flex;
  gap: 30px;
}

p.Privacy-policy {
  margin: 0px;
  font-size: 11px;
  font-weight: 500;
  color: white;
}

p.website-design {
  margin: 0px;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.nav-getin {
  padding-top: 20px;
}

section.follow-on-instagram {
  text-align: center;
  padding: 116px 0 130px;
  width: 100%;
}

h3.instagram-username {
  margin: 0px;
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 14px;
}

p.text-for-insta {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
}

h3.heading-for.location {
  margin: 0px;
  padding-top: 110px;
  padding-bottom: 60px;
  font-size: 38px;
  font-weight: 600;
}

ul.nav-information {
  list-style: none;
  text-decoration: none;
}

a.info-pager {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.nav-information li {
  padding-bottom: 12px;
}

a.info-services {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

ul.nav-services {
  list-style: none;
}

.nav-services li {
  padding-bottom: 12px;
}
.about-location h3 {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #00506C;
}

.about-location p {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #454648;
}

.about-location {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;
}

.page-hero .hero-main {
  display: flex;
  align-items: center;
  max-width: 1150px;
  margin: 0 auto;
  justify-content: space-between;
}

.page-hero {
  background: linear-gradient(180deg, #00506C 2%, rgba(0, 80, 108, 0.34) 89.55%);
  padding: 19px 0 0;
}

.page-hero .hero-main img {
  display: block;
  width: 100%;
}

.hero-img {
  max-width: 48%;
  width: 100%;
}

.hero-content {
  max-width: 52%;
  width: 100%;
  padding-left: 76px;
}

.hero-content .breadcrumbs :is(a,span) {
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  color: white;
  text-decoration: none;
}

.hero-content .breadcrumbs {
  color: white;
  margin-bottom: 5px;
}

.hero-content h1 {
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  margin: 0 0 5px;
}

.hero-content p {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin: 0;
}

.one-invislign h3.Specialist-orthodontists-heading {
    margin-bottom: 15px;
}

.one-invislign p.Specialist-our-team-text {
    margin-bottom: 50px;
}

.specialist-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.specialist-list .offer {
    max-width: 42%;
    width: 100%;
}

.complimentry-services {
    max-width: 49%;
    width: 100%;
}

.specialist-list .offer h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #454648;
    text-align: left;
}

.specialist-list .offer ul {
    padding: 0;
    text-align: left;
    list-style: none;
}

.specialist-list .offer ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.specialist-list .offer ul li:not(:last-of-type) {
    margin-bottom: 20px;
}

.specialist-list .offer ul li p {
    margin: 0;
}

.specialist-list .offer ul li p b {
    color: #00506C;
}

.complimentry-services {
    text-align: left;
}

.complimentry-services span {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #454648;
    margin-bottom: 6px;
    display: block;
}

.complimentry-services h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #00506C;
    margin: 0;
    margin-bottom: 13px;
}

.complimentry-services p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #454648;
    margin: 0;
}

.one-invislign {
    padding-bottom: 85px !important;
}

.compare {
    padding-bottom: 100px;
}

.compare-main {
    display: flex;
    position: relative !important;
    justify-content: space-between;
    gap: 8px;
}

.compare-main img {
    width: 100%;
    display: block;
}

.compare-main .vs {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    max-width: 81px;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00506C;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
}

.compare-main .compare-invislign-content {
    position: absolute;
    bottom: 42px;
}

.compare-main .compare-invislign-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.compare-main .compare-invislign-content li {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.compare-main .compare-invislign-content li img {
    max-width: 19px;
    width: 100%;
}

.compare-main .compare-invislign-content li p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #00506C;
}

.compare-main .compare-invislign .compare-invislign-content {
    left: 30px;
}

.compare-main .compare-braces .compare-invislign-content {
    right: 30px;
    max-width: 267px;
    bottom: 20px;
}

.compare-main .compare-invislign-content h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #00506C;
    margin: 0 0 20px;
}

.compare-main .compare-invislign-content li:not(:last-of-type) {
    margin-bottom: 16px;
}

.compare-main .compare-invislign-content li img {
    margin-top: 2px;
}

.compare-main .vs span {
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    display: block;
    color: #FFFFFF;
}

.why-choose {
  padding: 91px 0 173px;
  background: linear-gradient(180deg, rgba(0, 80, 108, 0.33) 0%, #00506C 73.57%);
  margin-bottom: 86px;
}

.why-choose h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 10px;
  color: #F5F5F5;
}

.why-choose .container > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #F5F5F5;
  text-align: center;
  max-width: 988px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.why-choose .why-main {
  display: flex;
  text-align: center;
  gap: 30px;
  margin-bottom: 93px;
}

.why-choose .why-main .why-card {
  max-width: 25%;
  width: 100%;
}

.why-choose .why-card .why-img {
  max-width: 95px;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #D6F4FF;
  border-radius: 50%;
  margin-bottom: 25px;
}

.why-choose .why-card h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.why-choose .why-card p {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #F5F5F5;
}

.why-booking {
  max-width: 900px;
  margin: 0 auto -237px;
  background: #D6F4FF;
  text-align: center;
  padding: 38px 0;
  z-index: 9;
  position: relative;
}

.why-booking h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.3;
  color: #333335;
}

.why-booking p {
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 17px;
}

.why-booking a {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #F5F5F5;
  text-decoration: none;
  background: #00506C;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-transform: uppercase;
  padding: 13px 35px;
  display: block;
  width: fit-content;
  margin: 0 auto -60px;
}

section.how-it-works {
  padding: 155px 0;
}

.how-main {
  display: flex;
  align-items: center;
}

.how-main .how-content {
  max-width: 55%;
  width: 100%;
  padding-right: 67px;
}

.how-main .how-img {
  max-width: 45%;
  width: 100%;
  position: relative;
  padding-top: 75px;
  padding-right: 75px;
}

.how-img-main {
    position: relative;
}

.how-main .how-img img {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  z-index: 2;
  position: relative;
}

.how-main .how-img-main::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -44px;
  z-index: -1;
  right: -44px;
  background: #3BC7F7;
  border-radius: 2px;
}

.how-main .how-img-main::before {
  content: '';
  display: block;
  position: absolute;
  width: 183px;
  aspect-ratio: 1;
  background: url('./assets/img/Dots.png');
  right: -75px;
  top: -75px;
  z-index: 1;
}

.how-main .how-content h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.3;
  color: #333335;
  margin-bottom: 10px;
}

.how-main .how-content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #454648;
  margin-bottom: 25px;
}

.how-main .how-content h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.3;
  color: #00506C;
  margin-bottom: 5px;
}

.compare-table {
  padding-bottom: 135px;
}

.compare-table h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  color: #454648;
  text-align: center;
  margin-bottom: 55px;
}

.compare-table table {
  width: 100%;
  border-spacing: 7px;
}

.compare-table table thead th:first-of-type {
  width: 512px;
}

.compare-table table :is(th,td) {
  text-align: center;
  height: 99px;
}

.compare-table table tbody td:first-of-type {
  text-align: left;
  background: rgba(0, 80, 108, 0.7);
  padding: 0 35px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.compare-table table tbody td:nth-of-type(2) {
  background: #D6F4FF;
}

.compare-table table tbody td:nth-of-type(3) {
  background: #DBDBDB;
}

.compare-table table tbody td:nth-of-type(4) {
  background: #E9E9E9;
}

.what-invislign {
  padding-bottom: 150px;
}

.what-invislign h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #454648;
  margin-bottom: 70px;
}

.what-main {
  display: flex;
  flex-wrap: wrap;
  gap: 45px 33px;
}

.what-main .what-card {
  text-align: center;
  max-width: calc(33.33% - 22px);
}

.what-main .what-card img {
  max-width: 240px;
  display: block;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 1/0.7;
  margin-bottom: 10px;
}

.what-main .what-card h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #00506C;
  margin-bottom: 10px;
}

.what-main .what-card p {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #454648;
}

.package-main {
  display: flex;
  gap: 8px;
}

.package-main .left-img {
  max-width: 24%;
  width: 100%;
  background: url('./assets/img/left-img.png');
  background-size: cover;
  background-position: center;
}

.package-main .main-content {
  max-width: 32%;
  width: 100%;
  background: rgba(214, 244, 255, 0.7);
}

.package-main .right-img {
  max-width: 44%;
  width: 100%;
  background: url('./assets/img/right-img.png');
  background-size: cover;
  background-position: center;
}

.package-main .main-content .content-head {
  text-align: center;
  padding: 38px 0;
  background: #00506C;
  color: white;
}

.package-main .main-content .content-head h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
}

.package-main .main-content .content-body {
  padding: 40px 50px 50px;
}

.package-main .main-content .content-body h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #00626F;
  margin-bottom: 40px;
}

.package-main .main-content .content-body ul {
  list-style: none;
  margin-bottom: 40px;
  padding: 0;
  margin-top: 0;
}

.package-main .main-content .content-body ul li {
  display: flex;
  gap: 18px;
}

.package-main .main-content .content-body ul li:not(:last-of-type) {
  margin-bottom: 22px;
}

.package-main .main-content .content-body ul p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #454648;
}

.package-main .main-content .content-body ul img {
  margin-top: 2px;
}

.package-main .main-content .content-body ul p b {
  color: #00506C;
}

.package-main .main-content .content-body a {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #F5F5F5;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 50px;
  background: #3BC7F7;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.free-virtual {
  padding-top: 145px;
  background: url('./assets/img/Rectangle 123.png');
  background-size: cover;
  background-position: center;
  margin-top: 8px;
}

.free-main {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  gap: 20px;
  justify-content: space-between;
}

.free-main .free-img {
  max-width: 372px;
  width: 100%;
}

.free-main .free-img img {
  width: 100%;
  display: block;
}

.free-main .free-content {
  max-width: 614px;
  padding-top: 30px;
}

.free-main .free-content img {
  margin-bottom: 30px;
}

.free-main .free-content h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #F5F5F5;
  margin-bottom: 10px;
}

.free-main .free-content p {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: white;
}

.steps .how-content h2 {
  margin-bottom: 40px;
}

.steps .how-content ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.steps .how-content ul li {
  display: flex;
  align-items: center;
  gap: 30px;
}

.steps .how-content ul li p {
  margin: 0;
}

.how-it-works.steps .how-content ul li:not(:last-of-type) {
  margin-bottom: 38px;
}

.steps .how-content ul li .step-icon {
  max-width: 75px;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #00506C;
}

.steps .how-content ul li h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 5px;
  display: block;
  color: #454648;
}

.steps .how-content ul li p {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #454648;
}

.faqs {
  padding: 10px 0 100px;
}

.faqs h2 {
  text-align: center;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.5;
  color: #454648;
  margin-bottom: 70px;
}

.faqs .faqs-main {
  max-width: 1090px;
  margin: 0 auto;
}

.faqs .faqs-main .accordion {
  padding: 30px 0;
  border-top: 1px solid rgba(0, 98, 111, 0.5);
}

.faqs .faqs-main .accordion__header > span {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Source Serif Pro';
  color: #454648;
}

.faqs .faqs-main .accordion:last-of-type {
  border-bottom: 1px solid rgba(0, 98, 111, 0.5);
}

.faqs .faqs-main .accordion__body {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #454648;
  padding-top: 15px;
}

.faqs .faqs-main .accordion :is(.accordion__header,.accordion__body) {
  max-width: 900px;
  margin: 0 auto;
}

.faqs .faqs-main .accordion__body p {
  margin-bottom: 25px;
}

.faqs .faqs-main .accordion .accordion__header .open-icon .line {
  display: block;
  height: 2px;
  width: 16px;
  background: rgba(0, 98, 111, 1);
  position: absolute;
  transition: all ease 0.5s;
}

.faqs .faqs-main .accordion .accordion__header .open-icon .line:last-of-type {
  transform: rotate(90deg);
}

.faqs .faqs-main .accordion .accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faqs .faqs-main .accordion .accordion__header.open .open-icon .line:last-of-type {
  transform: rotate(0deg);
}

.page-hero.center .hero-main {
  justify-content: center;
  text-align: center;
}

.page-hero.center .hero-content {
  padding: 0;
  max-width: 100%;
}


.page-hero.center {
  background: linear-gradient(180deg, #00506C 2%, rgba(0, 80, 108, 0.34) 89.55%) , url(./assets/img/Header-Bar.png);
  background-position: center;
  background-size: cover;
  padding: 300px 0 200px;
  margin-top: -233px;
}

main.dental-implants .heading-partner {
  font-family: 'Source Serif Pro';
}

main.dental-implants .partner-logo {
  justify-content: center;
  padding: 30px 0 20px;
}

main.dental-implants .heading-brace-system {
  padding-top: 30px;
}

main.dental-implants .heading-brace-system img {
  padding-bottom: 20px;
}

main.dental-implants h4.Specialist-our-team {
  max-width: 100%;
}

main.dental-implants .how-it-works {
  padding: 50px 0 60px;
}

main.dental-implants .how-it-works ul {
  padding: 0;
  list-style: none;
}

main.dental-implants .how-it-works ul li {
  display: flex;
  gap: 16px;
}

main.dental-implants .how-it-works ul li p {
  margin: 0;
}

main.dental-implants .how-it-works ul li:not(:last-of-type) {
  margin-bottom: 20px;
}

main.dental-implants .how-it-works ul li img {
  margin-top: 2px;
}

.how-it-works.reverse .how-main {
  flex-direction: row-reverse;
}

.how-it-works.reverse .how-content {
  padding-left: 67px;
  padding-right: 0;
}

.how-it-works.reverse .how-img-main::before {
  right: unset;
  left: -75px;
}

.how-it-works.reverse .how-img-main::after {
  right: unset;
  left: -44px;
}

main.dental-implants .how-it-works.reverse {
  padding-bottom: 123px;
}

section.how-it-works.steps {
  padding-top: 100px;
}

.composite-bonding .page-hero.center {
  background: linear-gradient(180deg, #00506C 2%, rgba(0, 80, 108, 0.34) 89.55%) , url(./assets/img/composite.png);
}

.composite-bonding .form-main {
  align-items: center;
}

.composite-bonding .form-main h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.3;
  margin-bottom: 15px;
  color: #454648;
}

.composite-bonding .form-main span {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  display: block;
  color: #00506C;
  margin-bottom: 10px;
}

.composite-bonding .form-main p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.composite-bonding .form-cta-main {
  margin-top: -40px;
}

.composite-bonding .form-content {
  max-width: 57%;
}

main.composite-bonding .how-it-works ul {
  padding: 0;
  list-style: none;
}

main.composite-bonding .how-it-works ul li {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

main.composite-bonding .how-it-works ul li p {
  margin: 0;
}

main.composite-bonding .how-it-works ul li:not(:last-of-type) {
  margin-bottom: 20px;
}

main.composite-bonding .how-it-works ul li img {
  margin-top: 2px;
}

.how-it-works.reverse .how-img {
    padding-right: 0 !important;
    padding-left: 75px;
}

main.composite-bonding .how-it-works.reverse .how-content {
    padding-left: 60px;
}

main.composite-bonding .how-it-works.reverse .how-main {
  align-items: flex-start;
}

main.composite-bonding .how-it-works.reverse {
    padding: 0 0 90px;
}

.treatment h2 {
  text-align: center;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  color: #00506C;
  margin-bottom: 40px;
}

.treatment .treatment-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto 75px;
  gap: 70px 20px;
}

.treatment .treatment-main .treatment-card {
  max-width: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.treatment .treatment-main .treatment-card .treatment-icon {
  max-width: 115px;
  aspect-ratio: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #00506C;
}

.treatment .treatment-main .treatment-card p {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #454648;
}

p.treatment-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #454648;
  max-width: 673px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

section.treatment {
  padding-bottom: 90px;
}

main.membership .page-hero.center {
  padding-bottom: 436px;
  background: linear-gradient(180deg, #00506C 2%, rgba(0, 80, 108, 0.34) 89.55%) , url(./assets/img/member.png);
  background-size: cover;
  background-position: center;
}

.packages .nav-tab {
  display: flex;
  list-style: none;
  max-width: fit-content;
  margin: 0 auto 75px;
  background: rgba(0, 80, 108, 0.74);
  border-radius: 30px;
  padding: 10px 12px;
}

.packages .nav-tab a {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #F5F5F5;
  text-decoration: none;
  padding: 7px 16px;
  display: block;
}

.packages .nav-tab li.active a {
  background: #3BC7F7;
  border-radius: 30px;
}

.packages .tab-content .content {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.packages .tab-content .package-card {
  max-width: 33.33%;
  width: 100%;
  padding-top: 20px;
}

.packages .tab-content .package-card:nth-of-type(1) {
  background: linear-gradient(360deg, #0E516E 0%, #3FC7F3 45.31%, #0E516E 84.9%);
  box-shadow: 3px 5px 10px rgba(0, 80, 108, 0.26);
  border-radius: 5px;
  padding-bottom: 45px;
}

.packages .tab-content .package-card:nth-of-type(2) {
  background: linear-gradient(180deg, #636366 0%, #EBEBED 45.31%, #848689 100%);
  box-shadow: 3px 5px 10px rgba(0, 80, 108, 0.26);
  border-radius: 5px;
  padding-bottom: 35px;
}

.packages .tab-content .package-card:nth-of-type(3) {
  background: linear-gradient(180deg, #B2802B 0%, #FAEF9F 50%, #CDAA57 100%);
  box-shadow: 3px 5px 10px rgba(0, 80, 108, 0.26);
  border-radius: 5px;
  padding-bottom: 100px;
}

.packages .tab-content .package-card .card-header img {display: block;margin: 0 auto 10px;}

.packages .tab-content .package-card .card-header {
  padding: 0 20px;
  border-bottom: 1px solid white;
}

.packages .tab-content .package-card .card-header h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  color: #3BC7F7;
}

.packages .tab-content .package-card .card-header > p {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 25px;
  color: white;
}

.packages .tab-content .package-card .card-header .price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 20px;
  color: white;
}

.packages .tab-content .package-card .card-header .price span {
  font-weight: 600;
  font-size: 52px;
  line-height: 63px;
  display: block;
}

.packages .tab-content .package-card .card-header .price p {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.packages .package-card .card-features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.packages .package-card .card-features {
  padding: 25px 32px 0;
}

.packages .package-card .card-features ul li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.packages .package-card .card-features ul li:not(:last-of-type) {
  margin-bottom: 17px;
}

.packages .package-card .card-features ul li p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.packages .tab-content .package-card:nth-of-type(2) .card-header > :is(h2,p) {
  color: #595859;
}

.packages .tab-content .package-card:nth-of-type(2) .card-header .price {
  color: #454648;
}

.packages .tab-content .package-card:nth-of-type(2) .card-features ul li p {
  color: #454648;
}

.packages .tab-content .package-card:nth-of-type(3) .card-header > :is(h2,p) {
  color: #7B4E00;
}

.packages .tab-content .package-card:nth-of-type(3) .card-header .price {
  color: #454648;
}

.packages .tab-content .package-card:nth-of-type(3) .card-features ul p {
  color: #454648;
}

.packages .tab-content .package-card:nth-of-type(2) .card-header {
  border-color: #595859;
}

.packages .tab-content .package-card:nth-of-type(3) .card-header {
  border-color: #7B4E00;
}

section.packages {
  padding-bottom: 80px;
  margin-top: -345px;
}

.cta {
  padding: 75px 0;
  text-align: center;
  background: url('./assets/img/cta.png'),linear-gradient(180deg, rgba(0, 80, 108, 0.33) 0%, #3BC7F7 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cta h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  color: #00506C;
  margin-bottom: 10px;
}

.cta p {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: white;
  max-width: 1110px;
  margin: 0 auto;
}

main.membership .how-it-works ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

main.membership .how-it-works ul li {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

main.membership .how-it-works ul li p {
  margin: 0;
}

main.membership .how-it-works ul li:not(:last-of-type) {
  margin-bottom: 20px;
}

main.membership .how-it-works ul li img {
  margin-top: 2px;
}

.membership section.how-it-works {
  padding: 110px 0 140px;
}

.membership-steps h2 {
  text-align: center;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  color: #454648;
  margin-bottom: 50px;
}

.membership-steps .membership-steps-main {
  display: flex;
  gap: 40px;
  max-width: 1180px;
  margin: 0 auto;
}

.membership-steps .membership-cards {
  max-width: 33.33%;
  width: 100%;
  background: linear-gradient(180deg, #00506C 0%, rgba(0, 80, 108, 0.6) 100%);
  border-radius: 5px;
  text-align: center;
  padding: 20px 25px;
}

.membership-steps .membership-cards img {
  display: block;
  margin: 0 auto 10px;
}

.membership-steps .membership-cards h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 33px;
  color: #F5F5F5;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.membership-steps .membership-cards p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #F5F5F5;
}

section.membership-steps {
  padding-bottom: 120px;
}

@media only screen and (max-width: 1136px) {
  .header-btn {
    display: flex;
    gap: 10px;
    width: 30%;
  }

  ul.main-nav-list {
    justify-content: start;
    gap: 17px;
  }

  .composite-bonding-details {
    padding-top: 64px;
    padding-left: 113px;
    margin-bottom: 0px;
  }

  .dental-implants-details {
    padding-top: 64px;
    padding-left: 113px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .like-too {
    padding: 10px 10px 10px 10px;
    font-size: 12px;
  }
}
/* NOMI CSS */
 .about-us-page-hero {
  background: linear-gradient(180deg, #00506C 2%, rgba(0, 80, 108, 0.34) 89.55%);
  text-align: center;
  padding: 67px 0 72px 0;


 }


 .contact-us-page-hero {
  background: linear-gradient(180deg, #00506C 2%, rgba(0, 80, 108, 0.34) 89.55%);
  text-align: center;
  padding: 67px 0 72px 0;


 }

 .our-team-page-hero {
  background: linear-gradient(180deg, #00506C 2%, rgba(0, 80, 108, 0.34) 89.55%);
  text-align: center;
  padding: 67px 0 72px 0;


 }

 .main-about-us-page-container h1 {
  font-weight: 600;
  font-size: 46px;
  line-height: 57.64px;
  color: #F5F5F5;
 }

 .main-about-us-page-container a {
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  color: #FFFFFF;
  text-decoration: none;
 }



main.about-us .mission-vission .form-cta-main {
  margin: 0;
}

main.about-us .mission-vission .form-main {
  padding-top: 82px;
}


.mission-vission .form-content .heading {
  font-size: 38px;
  line-height: 47.61px;
  font-weight: 600;
  color: #333335;
}

main.about-us .mission-vission .form-content {
  max-width: 695px;
  width: 100%;
}

main.about-us .mission-vission .form-cta-main {
  max-width: 439px;
  width: 100%;
}


main.our-team .why-our-team .form-cta-main {
  margin: 0;
}

main.our-team .why-our-team .form-main {
  padding-top: 82px;
}


main.contact-us .get-in-touch .form-cta-main {
  margin: 0;
}

main.contact-us .why-our-team .form-main {
  padding-top: 82px;
}


.why-our-team .form-content .heading {
  font-size: 38px;
  line-height: 47.61px;
  font-weight: 600;
  color: #333335;
}

main.our-team .why-our-team .form-content {
  max-width: 695px;
  width: 100%;
}

main.our-team .why-our-team .form-cta-main {
  max-width: 439px;
  width: 100%;
}







.heading-content h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 47px;
  color: #333335;
  font-family: Source Serif Pro;
}

.heading-content p {
  font-weight: 600;
  line-height: 28px;
  font-size: 16px;
  color: #00506C;
  margin: 15px 0 15px 0;
  font-family: Montserrat;
}

.about-us-description p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333335;
  font-family: Montserrat;

}

.our-team-description p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333335;
  margin-top: 20px;
}


.about-us-our-mission h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #00506C;
  font-family: Montserrat;
}

.about-us-our-mission p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #454648;
  font-family: Montserrat;
  margin-top: 10px;
}


.about-us-our-vission h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #00506C;
  font-family: Montserrat;

}

.about-us-our-vission p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #454648;
  font-family: Montserrat;
  margin-top: 10px;

}


.about-us-our-mission {
  margin-top: 35px;
}


.about-us-our-vission {
  margin-top: 30px;
}

.our-core-values {
  background: linear-gradient(180deg, rgba(0, 80, 108, 0.33) 0%, #00506C 73.57%), url('assets/img/background.png');
  background-position: center center;
  background-size: contain;
  padding: 101px 0 82px 0;
}

.main-core-values-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1174px;
  width: 100%;
  margin: 0 auto 0 auto;

}

.main-core-heading h2 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.main-services-container {
  display: flex;
  flex-direction: column;
  max-width: 1082px;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
}

.main-practice-gallery-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
  padding-bottom: 74px;
  padding-top: 82px;
}


.main-practice-location-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
  padding-bottom: 74px;
  padding-top: 112px;
}


.main-our-team-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
  padding-bottom: 74px;
}


.services-details {
  display: flex;
  justify-content: center;
  gap: 30px;
 
}

.our-services {
  padding: 76px 0 73px 0;
}

.benefits h3 {
  font-size: 22px;
  line-height: 26.82px;
  font-weight: 600;
  color: #F5F5F5;
  margin-top: 20px;
}

.service-1 {
  position: relative;
  max-width: 340px;
  width: 100%;
  background: linear-gradient(0.01deg, rgba(0, 80, 108, 0.74) -2.12%, rgba(22, 124, 159, 0.514427) 35.64%, rgba(59, 199, 247, 0.13) 99.99%), url('assets/img/Rectangle\ 54.png');
  border-radius: 10px;
  background-position: center center;
}

.services-button {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

.service-1 .services-heading {
  padding: 19px 0 184px 0;
}

.service-1 a {
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  color: #00506C;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 26px;
  padding-right: 26px;
  background-color: #F5F5F5;
  border-radius: 20px;
}

.services-heading {
  width: 240px;
}

.services-heading h4 {
  color: #F5F5F5;
  font-size: 28px;
  line-height: 35px;
  font-weight: 600;
}

.services-main-heading h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 47px;
  font-family: Source Serif Pro;
}

.gallery-main-heading h2 {
  line-height: 47.61px;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  font-family: Source Serif Pro;

}

.gallery-main-heading {
  padding-bottom: 37px;
}

.location-main-heading h2 {
  line-height: 47.61px;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  font-family: Source Serif Pro;
}


.location-main-heading {
  padding-bottom: 37px;
}



.our-team-main-heading h2 {
  line-height: 47.61px;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  font-family: Source Serif Pro;
}


.our-team-main-heading {
  padding-bottom: 37px;
}



.services-main-heading {
  padding-bottom: 50px;

}

.services-heading-2 {
  width: 176px;


}


.services-heading-2 h4 {
  line-height: 35px;
  font-size: 28px;
  color: white;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}

.services-heading-3 h4 {
  line-height: 35px;
  font-size: 28px;
  color: white;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}

.services-details a {
  text-decoration: none;
}

.gallery-details {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.instagram-gallery {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 14px;
  column-gap: 12px;
}

.location-details {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 18px;

}

.people-data-image h5 {
  margin: 0;
  margin-top: 30px;
 }

 .accessibility h3 {
  font-family: Montserrat;
 }


 .thinking h3 {
  font-family: Montserrat;
 }

 .trust h3 {
  font-family: Montserrat;
 }

 .efficiency h3 {
  font-family: Montserrat;
 }

 .integrity h3 {
  font-family: Montserrat;
 }

 .accountability h3 {
  font-family: Montserrat;
 }

 .transparency h3 {
  font-family: Montserrat;
 }


.our-team-details {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 18px;

}

.location-data-image img {
  margin-top: 27px;
}



.location-data-image h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #00506C;
}

.location-data-image {
  width: 388px;
  margin: 0;
}

.location-data-image p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.people-data-image img {
  margin-top: 27px;
}

.people-data-image h5 {
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  color: #00506C;
  font-family: Montserrat;
}

.people-data-image {
  width: 388px;
}

.people-data-image p {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  font-family: Montserrat;
  color: #00506C;
}

.main-our-team-page-container h1 {
  font-weight: 600;
  font-size: 46px;
  line-height: 57.64px;
  color: #F5F5F5;
 }

 .main-our-team-page-container a {
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  color: #FFFFFF;
  text-decoration: none;
 }

 .timings {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
 }
 
 .main-opening-hours-containers {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 945px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 67px;
  padding-bottom: 67px;
 }

 .opening-hours {
  background-image: url('./assets/img/Group\ 299.png');
  background-position: center;
  background-size: cover;
 }

 .main-heading-opening-hours h2 {
  font-family: Source Serif Pro;
  font-weight: 700;
  font-size: 38px;
  line-height: 47.61px;
  color: white;
 }


 .timings p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: white;
  margin-top: 30px;
 }

 .timings span {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: white;
 }

 .form-data {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #form-1 {
  justify-content: center;
  gap: 110px;
 }

 .get-in-touch-form h3 {
  color: #00506C;
  font-size: 38px;
  font-weight: 700;
  font-family: Source Serif Pro;
  
 }

 .personal-info {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  column-gap: 20px;
 }

 .personal-info img {
  width: 43px;
 }

 .social-media-icons {
  width:266.78px;
  margin-top: 50px;
 }

 .personal-info p {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #00506C;
  font-family: Montserrat;
 }
 

.contacts {
  margin-top: 50px;
}