body {
  margin: 0;
}

html * {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Source Serif Pro", serif;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.like-too {
  padding: 13px 24px 13px 24px;
  background: rgba(59, 199, 247, 0.8);
  border-radius: 100px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.header {
  background: #00506c;
  padding-top: 21px;
  padding-bottom: 10px;
}

.header-soctland-dental-logo {
  max-width: 21%;
  width: 100%;
}

.header-soctland-dental-logo img {
    width: 100%;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-btn {
  display: flex;
  gap: 10px;
  max-width: 34%;
  width: 100%;
}

.header-btn-details {
  display: flex;
  gap: 15px;
  max-width: 34%;
  justify-content: flex-end;
  width: 100%;
}

button.btn-details {
  font-size: 14px;
  font-weight: 600;
  background: rgba(59, 199, 247, 0.8);
  border-radius: 100px;
  border: none;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
}

ul.main-nav-list {
  color: white;
  display: flex;
  list-style: none;
  text-decoration: none;
  padding: 0;
  gap: 30px;
  justify-content: center;
}

a.main-nav-link {
  text-decoration: none;
  color: white;
  border-right: 1px solid white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding-right: 30px;
  line-height: 2;
  display: block;
}

.nav-contact {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-right: 0px solid !important;
  text-transform: uppercase;
  padding-right: 20px;
}

.hero {
  background-image: linear-gradient(180deg, #00506c 2.9%, rgba(0, 80, 108, 0) 74.58%),url(./assets/img/Rectangle\ 52.png);
  background-position: center;
  background-size: cover;
  padding: 44px 0;
  min-height: 825px;
}

h1.hero-heading {
  text-align: center;
  font-size: 46px;
  font-weight: 600;
  color: white;
  margin: 0 0 5px 0;
}

.hero-container {
}

p.hero-text {
  margin: 0px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: white;
  line-height: 1.3;
}

.hero-main-div {
}

h3.heading-partner {
  margin: 0px;
  font-size: 24px;
  font-weight: 600;
  color: #00506c;
  font-family: "Montserrat";
}

section.partners {
  border-bottom: 1px solid #3bc7f7;
}

.partner-logo {
  display: flex;
  align-items: center;
  gap: 34px;
  padding: 21px 0 10px;
  max-width: 50%;
  width: 100%;
}

.partners-main {
  max-width: 1112px;
  margin: 0 auto;
} 

section.brace-system {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}
h3.most-popular {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: #00506c;
  max-width: 368px;
  text-align: center;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 100%;
}

.about-saving {
  display: flex;
  align-items: center;
  gap: 29px;
  justify-content: center;
}

h3.saving {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  color: #00506c;
  font-family: "Montserrat";
}

.video-about-brace {
  font-size: 16px;
  font-weight: 500;
  color: #00506c;
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

img.teeth-img {
  padding-bottom: 63px;
  display: block;
  margin: 0 auto;
}

.form-main {
  display: flex;
  padding-bottom: 100px;
  justify-content: space-between;
}

.form-content {
    max-width: 50%;
    width: 100%;
}

.heading-brace-system {
  padding-top: 50px;
}

form.cta-form {
  display: flex;
  flex-direction: column;
}

h3.form-heading {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  margin: 0px;
  padding-bottom: 5px;
  color: white;
}

p.form-text {
  margin: 0px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #3bc7f7;
  padding-bottom: 24px;
}

input.form-input {
  padding: 17px 30px 17px 30px;
  border-radius: 50px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.form-checkbox {
  text-align: center;
}

label.checkbox-text {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.form-checkbox {
  padding: 10px 0px;
}

input.submit-form-btn {
  padding: 17px 0px;
  background: #3bc7f7;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.form-cta-main {
  background: #00506c;
  box-shadow: 3px 4px 10px 1px rgb(0 80 108 / 15%);
  border-radius: 10px;
  padding: 48px 32px;
}

.form-cta-main {
  margin-top: -145px;
}

.about-specialist-btn {
  font-size: 14px;
  font-weight: 600;
  background: rgba(59, 199, 247, 0.8);
  border-radius: 100px;
  border: none;
  color: white;
  padding: 13px 65px;
  cursor: pointer;
  text-transform: uppercase;
}

.about-view-location {
  font-size: 14px;
  font-weight: 600;
  background: rgba(59, 200, 247, 0);
  border-radius: 100px;
  border: none;
  color: #00506c;
  padding: 13px 25px;
  cursor: pointer;
  text-transform: uppercase;
}

section.Specialist-orthodontists {
  text-align: center;
  padding-bottom: 45px;
}

h3.Specialist-orthodontists-heading {
  margin: 0px;
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 5px;
  line-height: 1.4;
  color: #454648;
}

h4.Specialist-our-team {
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #00506c;
  padding-bottom: 10px;
  line-height: 1.4;
  max-width: 830px;
  margin: 0 auto 10px;
}

.specialist-main {
    max-width: 944px;
    margin: 0 auto;
}

p.Specialist-our-team-text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat";
  line-height: 1.5;
  padding-bottom: 30px;
  width: 100%;
  margin: 0px;
  color: #454648;
}

.composite-bonding-details-main {
    max-width: 260px;
}

.btn-invisalign {
  font-size: 14px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  border: none;
  color: #00506c;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Invisalign {
  background-image: url(./assets/img/Rectangle\ 71.png);
  padding: 141px 0px 150px 103px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.container-invisalign {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

h3.heading-invisalign {
  margin: 0px;
  font-size: 26px;
  font-weight: 600;
  color: white;
  padding-bottom: 8px;
}

p.Invisalign-text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat";
  width: 103%;
  line-height: 1.8;
  margin: 0px;
  padding-bottom: 20px;
  color: white;
}

.main-invisalign {
  background: linear-gradient(
    180deg,
    rgba(0, 80, 108, 0.75) 0%,
    rgba(0, 80, 108, 0.2475) 100%
  );
  border-radius: 20px;
  width: 36%;
  padding: 40px 39px 31px 39px;
}

.main-coposite-bonding {
  display: flex;
}

img.men-smiling {
  width: 100%;
  display: block;
}

img.women-smiling {
  width: 100%;
  display: block;
}

.women-with-smiling {
  max-width: 50%;
  width: 100%;
}

h2.heading-composite-bonding {
  margin: 0px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 8px;
  color: white;
}

p.text-composite-bonding {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  color: white;
  padding-bottom: 20px;
}

.composite-bonding-details {
  background: linear-gradient(
    180deg,
    rgba(0, 80, 108, 0.75) 0%,
    rgba(0, 80, 108, 0.2475) 100%
  );
  border-radius: 0px 20px 20px 0px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.men-with-smiling {
  max-width: 50%;
  width: 100%;
}

section.composite-bonding {
  margin-bottom: 20px;
}

.main-dental-implants {
  display: flex;
}

h2.heading-dental-implants {
  margin: 0px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 8px;
  color: white;
}

p.text-dental-implants {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  color: white;
  padding-bottom: 20px;
}

.dental-implants-details {
  background: linear-gradient(
    180deg,
    rgba(0, 80, 108, 0.75) 0%,
    rgba(0, 80, 108, 0.2475) 100%
  );
  border-radius: 20px 0px 0px 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.dental-implants {
  margin-bottom: 110px;
}

.Invisalign-saving {
  background-image: url(./assets/img/Rectangle\ 36.png);
  background-position: center;
  background-size: cover;
  padding: 96px 0;
}

.about-appoitment {
  text-align: center;
}

h3.heading-invisalign-saving {
  margin: 0px;
  font-size: 38px;
  font-weight: 600;
  color: white;
  padding-bottom: 12px;
}

p.text-invisalign-appiotment {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 0px;
  padding-bottom: 25px;
  line-height: 1.4;
}

button.btn-appointment {
  padding: 13px 36px 13px 36px;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #00506c;
  cursor: pointer;
}

footer.dental-footer {
  background: #00506c;
}

.main-nav-footer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 74px;
  width: 100%;
}

.footer-logo {
  width: 33%;
}

p.footer-text {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  line-height: 1.9;
  width: 89%;
  font-family: "Montserrat";
  padding-top: 13px;
}

h3.heading-nav-information {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #d6f4ff;
  padding-bottom: 24px;
}

h3.heading-nav-sevices {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #d6f4ff;
  padding-bottom: 24px;
}

h3.heading-nav-getin {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #d6f4ff;
  padding-bottom: 24px;
}

p.info-dental {
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-family: "Montserrat";
  margin: 0px;
  padding-bottom: 18px;
}

p.info-dental {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-end {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 35px;
  padding-bottom: 94px;
  max-width: 1200px;
  width: 100%;
}

p.text-dental-scotland {
  margin: 0px;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.about-privacy-policy {
  display: flex;
  gap: 30px;
}

p.Privacy-policy {
  margin: 0px;
  font-size: 11px;
  font-weight: 500;
  color: white;
}

p.website-design {
  margin: 0px;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.nav-getin {
  padding-top: 20px;
}

section.follow-on-instagram {
  text-align: center;
  padding: 116px 0 130px;
  width: 100%;
}

h3.instagram-username {
  margin: 0px;
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 14px;
}

p.text-for-insta {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
}

h3.heading-for.location {
  margin: 0px;
  padding-top: 110px;
  padding-bottom: 60px;
  font-size: 38px;
  font-weight: 600;
}

ul.nav-information {
  list-style: none;
  text-decoration: none;
}

a.info-pager {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.nav-information li {
  padding-bottom: 12px;
}

a.info-services {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

ul.nav-services {
  list-style: none;
}

.nav-services li {
  padding-bottom: 12px;
}
.about-location h3 {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #00506C;
}

.about-location p {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #454648;
}

.about-location {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;
}

.page-hero .hero-main {
  display: flex;
  align-items: center;
  max-width: 1150px;
  margin: 0 auto;
  justify-content: space-between;
}

.page-hero {
  background: linear-gradient(180deg, #00506C 2%, rgba(0, 80, 108, 0.34) 89.55%);
  padding: 19px 0 0;
}

.page-hero .hero-main img {
  display: block;
  width: 100%;
}

.hero-img {
  max-width: 48%;
  width: 100%;
}

.hero-content {
  max-width: 52%;
  width: 100%;
  padding-left: 76px;
}

.hero-content .breadcrumbs :is(a,span) {
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  color: white;
  text-decoration: none;
}

.hero-content .breadcrumbs {
  color: white;
  margin-bottom: 5px;
}

.hero-content h1 {
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  margin: 0 0 5px;
}

.hero-content p {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin: 0;
}

.one-invislign h3.Specialist-orthodontists-heading {
    margin-bottom: 15px;
}

.one-invislign p.Specialist-our-team-text {
    margin-bottom: 50px;
}

.specialist-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.specialist-list .offer {
    max-width: 42%;
    width: 100%;
}

.complimentry-services {
    max-width: 49%;
    width: 100%;
}

.specialist-list .offer h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #454648;
    text-align: left;
}

.specialist-list .offer ul {
    padding: 0;
    text-align: left;
    list-style: none;
}

.specialist-list .offer ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.specialist-list .offer ul li:not(:last-of-type) {
    margin-bottom: 20px;
}

.specialist-list .offer ul li p {
    margin: 0;
}

.specialist-list .offer ul li p b {
    color: #00506C;
}

.complimentry-services {
    text-align: left;
}

.complimentry-services span {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #454648;
    margin-bottom: 6px;
    display: block;
}

.complimentry-services h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #00506C;
    margin: 0;
    margin-bottom: 13px;
}

.complimentry-services p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #454648;
    margin: 0;
}

.one-invislign {
    padding-bottom: 85px !important;
}

.compare {
    padding-bottom: 100px;
}

.compare-main {
    display: flex;
    position: relative !important;
    justify-content: space-between;
    gap: 8px;
}

.compare-main img {
    width: 100%;
    display: block;
}

.compare-main .vs {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    max-width: 81px;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00506C;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
}

.compare-main .compare-invislign-content {
    position: absolute;
    bottom: 42px;
}

.compare-main .compare-invislign-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.compare-main .compare-invislign-content li {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.compare-main .compare-invislign-content li img {
    max-width: 19px;
    width: 100%;
}

.compare-main .compare-invislign-content li p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #00506C;
}

.compare-main .compare-invislign .compare-invislign-content {
    left: 30px;
}

.compare-main .compare-braces .compare-invislign-content {
    right: 30px;
    max-width: 267px;
    bottom: 20px;
}

.compare-main .compare-invislign-content h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #00506C;
    margin: 0 0 20px;
}

.compare-main .compare-invislign-content li:not(:last-of-type) {
    margin-bottom: 16px;
}

.compare-main .compare-invislign-content li img {
    margin-top: 2px;
}

.compare-main .vs span {
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    display: block;
    color: #FFFFFF;
}

.why-choose {
  padding: 91px 0 173px;
  background: linear-gradient(180deg, rgba(0, 80, 108, 0.33) 0%, #00506C 73.57%);
  margin-bottom: 86px;
}

.why-choose h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 10px;
  color: #F5F5F5;
}

.why-choose .container > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #F5F5F5;
  text-align: center;
  max-width: 988px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.why-choose .why-main {
  display: flex;
  text-align: center;
  gap: 30px;
  margin-bottom: 93px;
}

.why-choose .why-main .why-card {
  max-width: 25%;
  width: 100%;
}

.why-choose .why-card .why-img {
  max-width: 95px;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #D6F4FF;
  border-radius: 50%;
  margin-bottom: 25px;
}

.why-choose .why-card h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.why-choose .why-card p {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #F5F5F5;
}

.why-booking {
  max-width: 900px;
  margin: 0 auto -237px;
  background: #D6F4FF;
  text-align: center;
  padding: 38px 0;
  z-index: 9;
  position: relative;
}

.why-booking h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.3;
  color: #333335;
}

.why-booking p {
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 17px;
}

.why-booking a {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #F5F5F5;
  text-decoration: none;
  background: #00506C;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-transform: uppercase;
  padding: 13px 35px;
  display: block;
  width: fit-content;
  margin: 0 auto -60px;
}

section.how-it-works {
  padding: 155px 0;
}

.how-main {
  display: flex;
  align-items: center;
}

.how-main .how-content {
  max-width: 55%;
  width: 100%;
  padding-right: 67px;
}

.how-main .how-img {
  max-width: 45%;
  width: 100%;
  position: relative;
}

.how-main .how-img img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1.35;
  object-fit: cover;
  object-position: center;
  z-index: 2;
  position: relative;
}

.how-main .how-img::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -44px;
  z-index: -1;
  right: -44px;
  background: #3BC7F7;
  border-radius: 2px;
}

.how-main .how-img::before {
  content: '';
  display: block;
  position: absolute;
  width: 184px;
  aspect-ratio: 1;
  background: url('./assets/img/Dots.png');
  right: -75px;
  top: -75px;
  z-index: 1;
}

.how-main .how-content h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.3;
  color: #333335;
  margin-bottom: 10px;
}

.how-main .how-content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #454648;
  margin-bottom: 25px;
}

.how-main .how-content h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.3;
  color: #00506C;
  margin-bottom: 5px;
}

.compare-table {
  padding-bottom: 135px;
}

.compare-table h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  color: #454648;
  text-align: center;
  margin-bottom: 55px;
}

.compare-table table {
  width: 100%;
  border-spacing: 7px;
}

.compare-table table thead th:first-of-type {
  width: 512px;
}

.compare-table table :is(th,td) {
  text-align: center;
  height: 99px;
}

.compare-table table tbody td:first-of-type {
  text-align: left;
  background: rgba(0, 80, 108, 0.7);
  padding: 0 35px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.compare-table table tbody td:nth-of-type(2) {
  background: #D6F4FF;
}

.compare-table table tbody td:nth-of-type(3) {
  background: #DBDBDB;
}

.compare-table table tbody td:nth-of-type(4) {
  background: #E9E9E9;
}

.what-invislign {
  padding-bottom: 150px;
}

.what-invislign h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #454648;
  margin-bottom: 70px;
}

.what-main {
  display: flex;
  flex-wrap: wrap;
  gap: 45px 33px;
}

.what-main .what-card {
  text-align: center;
  max-width: calc(33.33% - 22px);
}

.what-main .what-card img {
  max-width: 240px;
  display: block;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 1/0.7;
  margin-bottom: 10px;
}

.what-main .what-card h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #00506C;
  margin-bottom: 10px;
}

.what-main .what-card p {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #454648;
}

.package-main {
  display: flex;
  gap: 8px;
}

.package-main .left-img {
  max-width: 24%;
  width: 100%;
  background: url('./assets/img/left-img.png');
  background-size: cover;
  background-position: center;
}

.package-main .main-content {
  max-width: 32%;
  width: 100%;
  background: rgba(214, 244, 255, 0.7);
}

.package-main .right-img {
  max-width: 44%;
  width: 100%;
  background: url('./assets/img/right-img.png');
  background-size: cover;
  background-position: center;
}

.package-main .main-content .content-head {
  text-align: center;
  padding: 38px 0;
  background: #00506C;
  color: white;
}

.package-main .main-content .content-head h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
}

.package-main .main-content .content-body {
  padding: 40px 50px 50px;
}

.package-main .main-content .content-body h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #00626F;
  margin-bottom: 40px;
}

.package-main .main-content .content-body ul {
  list-style: none;
  margin-bottom: 40px;
  padding: 0;
  margin-top: 0;
}

.package-main .main-content .content-body ul li {
  display: flex;
  gap: 18px;
}

.package-main .main-content .content-body ul li:not(:last-of-type) {
  margin-bottom: 22px;
}

.package-main .main-content .content-body ul p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #454648;
}

.package-main .main-content .content-body ul img {
  margin-top: 2px;
}

.package-main .main-content .content-body ul p b {
  color: #00506C;
}

.package-main .main-content .content-body a {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #F5F5F5;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 50px;
  background: #3BC7F7;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.free-virtual {
  padding-top: 145px;
  background: url('./assets/img/Rectangle 123.png');
  background-size: cover;
  background-position: center;
  margin-top: 8px;
}

.free-main {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  gap: 20px;
  justify-content: space-between;
}

.free-main .free-img {
  max-width: 372px;
  width: 100%;
}

.free-main .free-img img {
  width: 100%;
  display: block;
}

.free-main .free-content {
  max-width: 614px;
  padding-top: 30px;
}

.free-main .free-content img {
  margin-bottom: 30px;
}

.free-main .free-content h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #F5F5F5;
  margin-bottom: 10px;
}

.free-main .free-content p {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: white;
}

@media only screen and (max-width: 1136px) {
  .header-btn {
    display: flex;
    gap: 10px;
    width: 30%;
  }

  ul.main-nav-list {
    justify-content: start;
    gap: 17px;
  }

  .composite-bonding-details {
    padding-top: 64px;
    padding-left: 113px;
    margin-bottom: 0px;
  }

  .dental-implants-details {
    padding-top: 64px;
    padding-left: 113px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .like-too {
    padding: 10px 10px 10px 10px;
    font-size: 12px;
  }
}
